@model Week15_WardrobeProject_04192016.Models.Bottom

@{
    ViewBag.Title = "Bottom Details";
}

<h2 class="form-title">Bottom Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">  <!-- table of item labels and values -->
        <dt>
            @Html.DisplayNameFor(model => model.Nickname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nickname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Photo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Photo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Color)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Color)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Season)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Season)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Occ)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Occ)
        </dd>

    </dl>
</div>
<div>
    <button class="btn btn-default btn-edit"><span class="glyphicon glyphicon-pencil"></span> @Html.ActionLink("Edit Bottom", "Edit", new { id = Model.BottomID })</button> | <button class="btn btn-default btn-backtolist"><span class="glyphicon glyphicon-circle-arrow-left"></span> @Html.ActionLink("Back to List", "Index")</button>
</div>
