@model Week15_WardrobeProject_04192016.Models.Bottom

@{
    ViewBag.Title = "Edit";
}

<h2 class="form-title">Edit the Bottom</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.BottomID)

        <div class="form-group">
            @Html.LabelFor(model => model.Nickname, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nickname, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Nickname, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Photo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Photo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Photo, "", new { @class = "text-danger" })
            </div>
        </div>

        <!-- drop down list for Bottom Types -->
        <div class="form-group">
            @Html.LabelFor(model => model.Type, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select @Html.EditorFor(model => model.Type, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Type, "", new { @class = "text-danger" })>
                    <option selected>@Model.Type</option>
                    <option>Shorts</option>
                    <option>Pants</option>
                    <option>Skirt</option>
                    <option>Exercise</option>
                </select>
            </div>
        </div>

        <!-- drop down list for Colors -->
        <div class="form-group">
            @Html.LabelFor(model => model.Color, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select @Html.EditorFor(model => model.Color, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Color, "", new { @class = "text-danger" })>
                    <option selected>@Model.Color</option>
                    <option>Multi-colored</option>
                    <option>Red</option>
                    <option>Orange</option>
                    <option>Yellow</option>
                    <option>Green</option>
                    <option>Blue</option>
                    <option>Purple</option>
                    <option>Pink</option>
                    <option>Brown</option>
                    <option>Black</option>
                    <option>White</option>
                    <option>Grey</option>
                    <option>Cream</option>
                    <option>Silver</option>
                    <option>Gold</option>
                </select>
            </div>
        </div>

        <!-- drop down list for Seasons -->
        <div class="form-group">
            @Html.LabelFor(model => model.Season, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select @Html.EditorFor(model => model.Season, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Season, "", new { @class = "text-danger" })>
                    <option selected>@Model.Season</option>
                    <option>Winter</option>
                    <option>Spring</option>
                    <option>Summer</option>
                    <option>Fall</option>
                </select>
            </div>
        </div>

        <!-- drop down list for Occasions -->
        <div class="form-group">
            @Html.LabelFor(model => model.Occ, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select @Html.EditorFor(model => model.Occ, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Occ, "", new { @class = "text-danger" })>
                    <option selected>@Model.Occ</option>
                    <option>Casual</option>
                    <option>Formal</option>
                    <option>Business</option>
                    <option>Social</option>
                </select>
            </div>
        </div>
    </div>

    <div>
        <span class="icon-input-btn"><span class="glyphicon glyphicon-ok-sign"></span> <input type="submit" value="Save Changes" class="btn btn-default btn-edit" /></span> | <button class="btn btn-default btn-backtolist"><span class="glyphicon glyphicon-circle-arrow-left"></span> @Html.ActionLink("Back to List", "Index")</button>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
